## SQL Temelleri

### VeritabanÄ± Nedir?

<img src="assets/veritabani_nedir.png" alt="VeriTabani" width="700"/>


**VeritabanÄ± (Database):** YapÄ±landÄ±rÄ±lmÄ±ÅŸ verilerin depolandÄ±ÄŸÄ±, yÃ¶netildiÄŸi ve sorgulandÄ±ÄŸÄ± sistemlerdir.


**SektÃ¶rel KullanÄ±m:**
- **E-ticaret**: ÃœrÃ¼n kataloÄŸu, mÃ¼ÅŸteri verileri, sipariÅŸ yÃ¶netimi
- **Finans**: Ä°ÅŸlem kayÄ±tlarÄ±, hesap yÃ¶netimi, risk analizi
- **SaÄŸlÄ±k**: Hasta kayÄ±tlarÄ±, tedavi geÃ§miÅŸi, ilaÃ§ yÃ¶netimi
- **Medya**: Ä°Ã§erik yÃ¶netimi, kullanÄ±cÄ± davranÄ±ÅŸlarÄ±, Ã¶neri sistemleri

### SQL (Structured Query Language)

<img src="assets/sql_nedir.png" alt="sql" width="700"/>

Ä°liÅŸkisel veritabanlarÄ±yla iletiÅŸim iÃ§in kullanÄ±lan standart sorgulama dilidir.

**Temel Kavramlar:**

**Ä°liÅŸkisel (Relational):** Veriler tablolar halinde organize edilir ve bu tablolar birbirleriyle iliÅŸkilendirilir.
- Ã–rnek: MÃ¼ÅŸteriler tablosu â†’ SipariÅŸler tablosu (her sipariÅŸ bir mÃ¼ÅŸteriye ait)

**YapÄ±landÄ±rÄ±lmÄ±ÅŸ (Structured):** Her tablonun belirli kolonlarÄ± ve veri tipleri vardÄ±r.
- Ã–rnek: `isim` (metin), `yas` (sayÄ±), `kayit_tarihi` (tarih)

**Primary Key (Birincil Anahtar):** Her satÄ±rÄ± benzersiz ÅŸekilde tanÄ±mlayan kolon.
- Ã–rnek: `musteri_id = 12345` (sistemde tek bir mÃ¼ÅŸteriyi iÅŸaret eder)

**Foreign Key (YabancÄ± Anahtar):** BaÅŸka bir tablodaki primary key'e referans veren kolon.
- Ã–rnek: SipariÅŸler tablosundaki `musteri_id`, MÃ¼ÅŸteriler tablosuna baÄŸlanÄ±r

### SQL vs NoSQL

<img src="assets/sql_vs_nosql.png" alt="sql" width="700"/>

**SQL VeritabanlarÄ± (Ä°liÅŸkisel):**
- **YapÄ±:** Tablolar, satÄ±rlar, kolonlar (Excel gibi dÃ¼ÅŸÃ¼nÃ¼n)
- **Ã–rnekler:** PostgreSQL, MySQL, Oracle, SQL Server, SQLite
- **KullanÄ±m:** BankacÄ±lÄ±k, e-ticaret, ERP sistemleri, veri analitiÄŸi

**NoSQL VeritabanlarÄ± (Ä°liÅŸkisel Olmayan):**
- **YapÄ±:** Esnek ÅŸema, JSON benzeri dÃ¶kÃ¼manlar, key-value Ã§iftleri
- **Ã–rnekler:** MongoDB (dÃ¶kÃ¼man), Redis (key-value), Cassandra (column-family), Neo4j (graph)
- **KullanÄ±m:** Sosyal medya, IoT, gerÃ§ek zamanlÄ± uygulamalar, bÃ¼yÃ¼k veri

### VeritabanÄ± BaÄŸlantÄ±sÄ±

**SQLite Nedir?**

SQLite, en basit SQL veritabanÄ± tÃ¼rÃ¼dÃ¼r. Normal veritabanlarÄ± sunucu gerektirir ama SQLite sadece bir dosyadÄ±r (`.db` uzantÄ±lÄ±).

**Neden SQLite?**
- **Kolay:** Kurulum yok, tek dosya
- **TaÅŸÄ±nabilir:** DosyayÄ± kopyalayÄ±nca veritabanÄ± taÅŸÄ±nÄ±r
- **Ã–ÄŸrenmeye Uygun:** SQL Ã¶ÄŸrenmek iÃ§in mÃ¼kemmel
- **GerÃ§ek:** Ãœretim sistemlerinde de kullanÄ±lÄ±r (mobil uygulamalar, tarayÄ±cÄ±lar)

**DiÄŸer SQL VeritabanlarÄ±:**
- **PostgreSQL, MySQL:** Sunucu kurmak gerekir, daha gÃ¼Ã§lÃ¼ ama karmaÅŸÄ±k
- **SQL Server, Oracle:** Kurumsal seviye, lisans gerekir

**Jupyter'da SQL KullanÄ±mÄ±:**

Jupyter Notebook'ta SQL kullanmak iÃ§in Ã¶zel komutlar:
- `%load_ext sql` â†’ SQL Ã¶zelliÄŸini aÃ§
- `%sql` â†’ Tek satÄ±r SQL komutu
- `%%sql` â†’ Ã‡ok satÄ±rlÄ± SQL sorgusu (hÃ¼crenin tamamÄ± SQL olur)

In [ ]:
%load_ext sql
%sql sqlite:///data/ecommerce.db

# Otomatik limit'i kaldÄ±r
%config SqlMagic.displaylimit = None
%config SqlMagic.autolimit = 0

print("BaÄŸlantÄ± kuruldu: data/ecommerce.db")

### VeritabanÄ±: E-Ticaret Sistemi

Bu eÄŸitimde gerÃ§ek bir e-ticaret ÅŸirketi veritabanÄ± kullanacaÄŸÄ±z. 7 ana tablo var:

**Tablolar:**
- **`customers`** (mÃ¼ÅŸteriler): MÃ¼ÅŸteri bilgileri (isim, ÅŸehir, segment, iletiÅŸim)
- **`categories`** (kategoriler): ÃœrÃ¼n kategorileri (hiyerarÅŸik yapÄ± - ana/alt kategori)
- **`products`** (Ã¼rÃ¼nler): ÃœrÃ¼n kataloÄŸu (isim, fiyat, marka, kategori)
- **`orders`** (sipariÅŸler): SipariÅŸ kayÄ±tlarÄ± (tarih, tutar, durum, Ã¶deme yÃ¶ntemi)
- **`order_items`** (sipariÅŸ kalemleri): SipariÅŸteki Ã¼rÃ¼nler (miktar, birim fiyat, indirim)
- **`reviews`** (yorumlar): MÃ¼ÅŸteri yorumlarÄ± ve puanlarÄ±
- **`campaigns`** (kampanyalar): Ä°ndirim kampanyalarÄ±

**Veri Seti:** ~5.000 mÃ¼ÅŸteri, ~9.000 sipariÅŸ, 3.5 yÄ±llÄ±k veri

<img src="assets/db_diyagram.png" alt="diyagram" width="400"/>

## TEMEL SQL KOMUTLARI


**Ã–nemli Noktalar:**
- BÃ¼yÃ¼k tablolarda `LIMIT` kullanÄ±n
- Query test ederken Ã¶nce kÃ¼Ã§Ã¼k veri seti ile Ã§alÄ±ÅŸÄ±n
- SQL'de `--` ile comment eklenebilir

### SELECT - TÃ¼m Verileri Getirme

In [ ]:
%%sql

SELECT * FROM customers
limit 10

### SELECT - Belirli KolonlarÄ± Getirme

In [ ]:
%%sql

SELECT first_name, last_name, city 
FROM customers

LIMIT 10

### DISTINCT - Tekrar Eden KayÄ±tlarÄ± KaldÄ±rma

**DISTINCT** tekrar eden satÄ±rlarÄ± kaldÄ±rÄ±r ve sadece benzersiz deÄŸerleri gÃ¶sterir.

**KullanÄ±m SenaryolarÄ±:**
- Hangi ÅŸehirlerde mÃ¼ÅŸterimiz var?
- Elimizde hangi markalar var?
- KaÃ§ farklÄ± Ã¶deme yÃ¶ntemi kullanÄ±lÄ±yor?

In [ ]:
%%sql

-- Hangi ÅŸehirlerde mÃ¼ÅŸterimiz var?
SELECT DISTINCT city 
FROM customers

### ORDER BY - SÄ±ralama

**ORDER BY** sonuÃ§larÄ± sÄ±ralar.

**SÃ¶z Dizimi:**
- `ORDER BY column ASC` : KÃ¼Ã§Ã¼kten bÃ¼yÃ¼ÄŸe (A-Z, 0-9) - varsayÄ±lan
- `ORDER BY column DESC` : BÃ¼yÃ¼kten kÃ¼Ã§Ã¼ÄŸe (Z-A, 9-0)
- Ã‡oklu sÄ±ralama: `ORDER BY column1 DESC, column2 ASC`

**Ä°pucu:** ORDER BY her zaman sorgunun en sonunda gelir.

In [ ]:
%%sql

-- En pahalÄ± Ã¼rÃ¼nler
SELECT product_name, brand, price
FROM products
ORDER BY price DESC
LIMIT 10

### WHERE - Filtreleme



**WHERE** kelimesi SQL'de "hangi satÄ±rlarÄ± istiyorum?" sorusuna cevap verir.

**WHERE kullanÄ±m alanlarÄ±:**
- Belirli bir mÃ¼ÅŸteriyi bul
- Belirli tarih aralÄ±ÄŸÄ±ndaki sipariÅŸleri getir
- Belirli fiyat aralÄ±ÄŸÄ±ndaki Ã¼rÃ¼nleri listele
- Belirli ÅŸehirdeki kullanÄ±cÄ±larÄ± say

In [ ]:
%%sql

SELECT first_name, last_name, city 
FROM customers
WHERE city = 'Ä°stanbul'
LIMIT 10

**KarÅŸÄ±laÅŸtÄ±rma operatÃ¶rleri:**
- `=` : EÅŸittir
- `!=` veya `<>` : EÅŸit deÄŸildir
- `>` : BÃ¼yÃ¼ktÃ¼r
- `<` : KÃ¼Ã§Ã¼ktÃ¼r
- `>=` : BÃ¼yÃ¼k eÅŸittir
- `<=` : KÃ¼Ã§Ã¼k eÅŸittir
- `BETWEEN` : AralÄ±k
- `IN` : Liste iÃ§inde
- `LIKE` : Metin eÅŸleÅŸtirme

In [ ]:
%%sql

SELECT product_name, brand, price 
FROM products
WHERE price > 10000
ORDER BY price DESC
LIMIT 10

In [ ]:
%%sql

SELECT first_name, last_name, email
FROM customers
WHERE first_name LIKE 'A%'
LIMIT 10

**MantÄ±ksal OperatÃ¶rler:**

```sql
-- AND: Her iki koÅŸul saÄŸlanmalÄ±
WHERE brand = 'Apple' AND price > 5000

-- OR: En az bir koÅŸul saÄŸlanmalÄ±
WHERE brand = 'Apple' OR brand = 'Samsung'

-- Kombinasyon: Parantez kullanÄ±mÄ±
WHERE (brand = 'Apple' OR brand = 'Samsung') AND price > 5000
```

- `AND` : TÃ¼m koÅŸullar true
- `OR` : En az bir koÅŸul true
- `NOT` : KoÅŸul negasyonu

In [ ]:
%%sql

SELECT product_name, brand, price 
FROM products
WHERE brand = 'Apple' AND price > 5000

### WHERE - IN OperatÃ¶rÃ¼

**IN** operatÃ¶rÃ¼ bir listte iÃ§inde arama yapar. Ã‡oklu `OR` yerine kullanÄ±lÄ±r.

```sql
-- Yerine: WHERE city = 'Ä°stanbul' OR city = 'Ankara' OR city = 'Ä°zmir'
WHERE city IN ('Ä°stanbul', 'Ankara', 'Ä°zmir')
```

**AvantajlarÄ±:**
- Daha okunabilir kod
- Daha az tekrar
- Performans avantajÄ± (bazÄ± durumlarda)

In [ ]:
%%sql

-- Belirli markalarÄ±n Ã¼rÃ¼nleri
SELECT product_name, brand, price
FROM products
WHERE brand IN ('Apple', 'Samsung', 'Xiaomi')
ORDER BY brand, price DESC
LIMIT 15

### WHERE - BETWEEN OperatÃ¶rÃ¼

**BETWEEN** bir aralÄ±k kontrolÃ¼ yapar (baÅŸlangÄ±Ã§ ve bitiÅŸ dahil).

```sql
-- Yerine: WHERE price >= 1000 AND price <= 5000
WHERE price BETWEEN 1000 AND 5000
```

**Dikkat:** BETWEEN dahildir (inclusive) - 1000 ve 5000 de sonuca dahildir.

In [ ]:
%%sql

-- Orta segment fiyat aralÄ±ÄŸÄ±ndaki Ã¼rÃ¼nler
SELECT product_name, brand, price
FROM products
WHERE price BETWEEN 1000 AND 5000
ORDER BY price
LIMIT 15

### NULL DeÄŸerler - IS NULL / IS NOT NULL

**NULL** "bilinmeyen" veya "mevcut deÄŸil" anlamÄ±na gelir.

**Ã–nemli:** NULL kontrolÃ¼ iÃ§in `=` kullanÄ±lamaz! `IS NULL` veya `IS NOT NULL` kullanÄ±lmalÄ±.

```sql
-- YANLIÅ: WHERE campaign_id = NULL
-- DOÄRU: WHERE campaign_id IS NULL
```

**GerÃ§ek Hayat:**
- KampanyasÄ±z sipariÅŸler: `campaign_id IS NULL`
- Ana kategoriler: `parent_category_id IS NULL`

In [ ]:
%%sql

-- Ana kategorileri bul (alt kategorisi olmayan)
SELECT category_id, category_name, parent_category_id
FROM categories
WHERE parent_category_id IS NULL

---
## Agregasyon FonksiyonlarÄ±

Ã‡ok sayÄ±da satÄ±rÄ± tek bir deÄŸere indirgeme (aggregation).

**Fonksiyonlar:**
- `COUNT(*)` : Toplam satÄ±r sayÄ±sÄ±
- `SUM(column)` : Toplam
- `AVG(column)` : Ortalama
- `MIN(column)` / `MAX(column)` : Minimum/Maximum
- `COUNT(DISTINCT column)` : Benzersiz deÄŸer sayÄ±sÄ±

**KullanÄ±m SenaryolarÄ±:**
- KPI hesaplamalarÄ±
- Summary statistics
- Reporting ve dashboard'lar


### COUNT - KayÄ±t SayÄ±sÄ±

In [ ]:
%%sql

SELECT COUNT(*) as toplam_musteri
FROM customers

### SUM ve AVG - Toplam ve Ortalama

In [ ]:
%%sql

SELECT 
    SUM(total_amount) as toplam_ciro,
    AVG(total_amount) as ortalama_sepet,
    MIN(total_amount) as en_dusuk,
    MAX(total_amount) as en_yuksek
FROM orders
WHERE order_status = 'teslim_edildi'

---
## GROUP BY - Gruplama ve Ã–zetleme

SatÄ±rlarÄ± kategorilere ayÄ±rma ve her kategori iÃ§in agregasyon hesaplama.

In [ ]:
%%sql

SELECT city, COUNT(*) as musteri_sayisi
FROM customers
GROUP BY city
ORDER BY musteri_sayisi DESC
LIMIT 10

### GROUP BY - Ã‡oklu Agregasyon

In [ ]:
%%sql

SELECT 
    order_status, 
    COUNT(*) as siparis_sayisi,
    SUM(total_amount) as toplam_tutar,
    AVG(total_amount) as ortalama_tutar
FROM orders
GROUP BY order_status
ORDER BY siparis_sayisi DESC

### HAVING - Gruplar Ãœzerinde Filtreleme

In [ ]:
%%sql

SELECT city, COUNT(*) as musteri_sayisi
FROM customers
GROUP BY city
HAVING COUNT(*) > 100
ORDER BY musteri_sayisi DESC

### CASE WHEN - KoÅŸullu MantÄ±k

In [ ]:
%%sql

SELECT 
    product_name,
    price,
    CASE 
        WHEN price < 100 THEN 'Ucuz'
        WHEN price BETWEEN 100 AND 1000 THEN 'Orta'
        WHEN price BETWEEN 1000 AND 5000 THEN 'PahalÄ±'
        ELSE 'Ã‡ok PahalÄ±'
    END as fiyat_kategorisi
FROM products
LIMIT 15


## JOIN Ä°ÅLEMLERÄ°

<img src="assets/left_inner_join.png" alt="join" width="700"/>


Ä°liÅŸkisel veritabanlarÄ±nda tablolarÄ± birleÅŸtirme mekanizmasÄ±.


**JOIN TÃ¼rleri:**
- **INNER JOIN**: Her iki tabloda eÅŸleÅŸen kayÄ±tlar
- **LEFT JOIN**: Sol tablo + eÅŸleÅŸenler (outer rows NULL)
- **RIGHT JOIN**: SaÄŸ tablo + eÅŸleÅŸenler
- **FULL OUTER JOIN**: Her iki tablonun tÃ¼m kayÄ±tlarÄ±

**Bu EÄŸitimde:** INNER ve LEFT JOIN kullanÄ±mÄ± Ã¼zerinde durulacaktÄ±r.

### INNER JOIN - Ä°ki Tabloyu BirleÅŸtirme

In [ ]:
%%sql

SELECT 
    p.product_name,
    p.brand,
    p.price,
    c.category_name
FROM products p
INNER JOIN categories c ON p.category_id = c.category_id
LIMIT 10

### JOIN - MÃ¼ÅŸteri SipariÅŸleri

In [ ]:
%%sql

select c.first_name, c.last_name, o.total_amount, o.order_date
from customers c
INNER JOIN orders o ON c.customer_id = o.customer_id
where c.first_name = 'Okyalaz' and	c.last_name = 'Bilgin'



limit 10

In [ ]:
%%sql

SELECT 
    c.first_name,
    c.last_name,
    c.city,
    o.order_id,
    o.order_date,
    o.total_amount
FROM customers c
INNER JOIN orders o ON c.customer_id = o.customer_id
LIMIT 10

**INNER JOIN vs LEFT JOIN:**

- **INNER JOIN**: Sadece her iki tabloda da eÅŸleÅŸen kayÄ±tlar
- **LEFT JOIN**: Sol tablodaki TÃœM kayÄ±tlar + eÅŸleÅŸenler (eÅŸleÅŸmeyen saÄŸ taraf NULL)

**KullanÄ±m SenaryolarÄ±:**
- HiÃ§ sipariÅŸ vermemiÅŸ mÃ¼ÅŸterileri bul
- SatÄ±lmamÄ±ÅŸ Ã¼rÃ¼nleri listele
- Yorum almamÄ±ÅŸ Ã¼rÃ¼nleri gÃ¶ster

### LEFT JOIN - EÅŸleÅŸmeyen KayÄ±tlarÄ± da Getirme

In [ ]:
%%sql

-- HiÃ§ sipariÅŸ vermemiÅŸ mÃ¼ÅŸterileri bul
SELECT 
    c.customer_id,
    c.first_name,
    c.last_name,
    c.city,
    c.registration_date,
    COUNT(o.order_id) as siparis_sayisi
FROM customers c
LEFT JOIN orders o ON c.customer_id = o.customer_id
GROUP BY c.customer_id
HAVING COUNT(o.order_id) = 0
LIMIT 10

### JOIN - ÃœÃ§ Tablo BirleÅŸtirme

In [ ]:
%%sql

SELECT 
    c.first_name || ' ' || c.last_name as musteri,
    o.order_date,
    p.product_name,
    oi.quantity,
    oi.unit_price
FROM customers c
JOIN orders o ON c.customer_id = o.customer_id
JOIN order_items oi ON o.order_id = oi.order_id
JOIN products p ON oi.product_id = p.product_id
LIMIT 10

## FONKSÄ°YONLAR

### Tarih FonksiyonlarÄ±

**SQLite Tarih FonksiyonlarÄ±:**

- `DATE('now')` : BugÃ¼nÃ¼n tarihi
- `DATETIME('now')` : Åu anki tarih ve saat
- `strftime(format, date)` : Tarih formatlama
  - `'%Y'` : YÄ±l (2024)
  - `'%m'` : Ay (01-12)
  - `'%d'` : GÃ¼n (01-31)
  - `'%Y-%m'` : YÄ±l-Ay (2024-03)
- `JULIANDAY(date)` : Tarih farkÄ± hesaplama iÃ§in

**GerÃ§ek KullanÄ±m:** AylÄ±k raporlar, mÃ¼ÅŸteri yaÅŸÄ±, kayÄ±t sÃ¼resi

In [ ]:
%%sql

SELECT 
    customer_id,
    first_name,
    registration_date,
    strftime('%Y', registration_date) as kayit_yili,
    strftime('%m', registration_date) as kayit_ayi,
    ROUND(JULIANDAY('now') - JULIANDAY(registration_date), 0) as uyelik_gun_sayisi,
    ROUND((JULIANDAY('now') - JULIANDAY(registration_date)) / 365.0, 1) as uyelik_yil
FROM customers
ORDER BY registration_date
LIMIT 10

### String FonksiyonlarÄ±

**Temel String FonksiyonlarÄ±:**

- `UPPER(text)` : BÃ¼yÃ¼k harfe Ã§evir
- `LOWER(text)` : KÃ¼Ã§Ã¼k harfe Ã§evir
- `LENGTH(text)` : Karakter sayÄ±sÄ±
- `SUBSTR(text, start, length)` : Alt string al
- `||` : String birleÅŸtirme (concatenation)
- `TRIM(text)` : BaÅŸ ve sondaki boÅŸluklarÄ± kaldÄ±r
- `REPLACE(text, old, new)` : DeÄŸiÅŸtir

In [ ]:
%%sql

SELECT 
    first_name,
    last_name,
    first_name || ' ' || last_name as tam_isim,
    UPPER(email) as email_buyuk,
    LENGTH(first_name) as isim_uzunlugu,
    SUBSTR(email, 1, 3) as email_kisaltma
FROM customers
LIMIT 10

### SayÄ±sal Fonksiyonlar

**Temel SayÄ±sal Fonksiyonlar:**

- `ROUND(number, decimals)` : Yuvarlama
- `ABS(number)` : Mutlak deÄŸer
- `CAST(value AS type)` : Tip dÃ¶nÃ¼ÅŸÃ¼mÃ¼
- Aritmetik: `+`, `-`, `*`, `/`, `%` (mod)

**Ä°pucu:** SQLite'ta `CEIL` ve `FLOOR` yok, `ROUND` kullanÄ±n.

In [ ]:
%%sql

SELECT 
    product_name,
    price,
    ROUND(price, 0) as yuvarlanmis_fiyat,
    ROUND(price * 1.20, 2) as kdv_dahil_fiyat,
    CAST(price AS INTEGER) as tam_sayi_fiyat
FROM products
WHERE price > 1000
LIMIT 10


## ALT SORGULAR (SUBQUERIES)

### Alt Sorgu - WHERE Ä°Ã§inde

In [ ]:
%%sql

SELECT product_name, price
FROM products
WHERE price > (SELECT AVG(price) FROM products)
ORDER BY price DESC
LIMIT 10

## GERÃ‡EK Ä°Å SENARYOLARI

### CASE 1: En KarlÄ± Kategoriler - YatÄ±rÄ±m KararÄ±
**Senaryo:** Genel mÃ¼dÃ¼r sizi ofisine Ã§aÄŸÄ±rdÄ±: "2026 bÃ¼tÃ§esini planlÄ±yoruz. Hangi Ã¼rÃ¼n kategorilerine daha fazla yatÄ±rÄ±m yapmalÄ±yÄ±z? Her kategorinin satÄ±ÅŸ performansÄ±nÄ±, kaÃ§ Ã¼rÃ¼n sattÄ±ÄŸÄ±mÄ±zÄ± ve ne kadar gelir getirdiÄŸini gÃ¶rmek istiyorum. Haftaya yÃ¶netim kurulu toplantÄ±sÄ±nda sunacaÄŸÄ±m."

**Analiz Hedefi:** Her kategori iÃ§in Ã¼rÃ¼n sayÄ±sÄ±, toplam sipariÅŸ sayÄ±sÄ±, toplam gelir ve ortalama satÄ±ÅŸ tutarÄ± hesaplayarak yatÄ±rÄ±m Ã¶nceliklendirmesi iÃ§in rapor hazÄ±rlamak.

In [ ]:
%%sql

SELECT 
    c.category_name,
    COUNT(DISTINCT p.product_id) as urun_sayisi,
    COUNT(DISTINCT oi.order_id) as siparis_sayisi,
    SUM(oi.quantity * oi.unit_price * (1 - oi.discount_rate/100)) as toplam_gelir,
    ROUND(AVG(oi.quantity * oi.unit_price * (1 - oi.discount_rate/100)), 2) as ortalama_satis
FROM categories c
JOIN products p ON c.category_id = p.category_id
JOIN order_items oi ON p.product_id = oi.product_id
WHERE c.parent_category_id IS NOT NULL
GROUP BY c.category_id, c.category_name
ORDER BY toplam_gelir DESC
LIMIT 10

### CASE 2: MÃ¼ÅŸteri Segmentleri - Pazarlama KampanyasÄ±
**Senaryo:** Pazarlama mÃ¼dÃ¼rÃ¼ size mail attÄ±: "Yeni yÄ±l kampanyasÄ± planlÄ±yoruz. Her mÃ¼ÅŸteri segmentimiz iÃ§in (Platinum, Gold, Silver, Bronze) ayrÄ± kampanya tasarlayacaÄŸÄ±z. Bana her segmentin kaÃ§ mÃ¼ÅŸteriden oluÅŸtuÄŸunu, ortalama ne kadar harcama yaptÄ±klarÄ±nÄ± ve toplam cirodaki paylarÄ±nÄ± gÃ¶sterir misin? BÃ¼tÃ§eyi buna gÃ¶re ayarlayacaÄŸÄ±m."

**Analiz Hedefi:** Her segment iÃ§in mÃ¼ÅŸteri sayÄ±sÄ±, toplam sipariÅŸ, ortalama sepet tutarÄ± ve mÃ¼ÅŸteri baÅŸÄ±na ciro hesaplayarak kampanya bÃ¼tÃ§e daÄŸÄ±lÄ±mÄ± iÃ§in veri saÄŸlamak.

In [ ]:
%%sql

SELECT 
    c.customer_segment,
    COUNT(DISTINCT c.customer_id) as musteri_sayisi,
    COUNT(o.order_id) as toplam_siparis,
    ROUND(AVG(o.total_amount), 2) as ortalama_sepet,
    SUM(CASE WHEN o.order_status = 'teslim_edildi' THEN o.total_amount ELSE 0 END) as toplam_ciro,
    ROUND(SUM(CASE WHEN o.order_status = 'teslim_edildi' THEN o.total_amount ELSE 0 END) / 
          COUNT(DISTINCT c.customer_id), 2) as musteri_basina_ciro
FROM customers c
LEFT JOIN orders o ON c.customer_id = o.customer_id
GROUP BY c.customer_segment
ORDER BY toplam_ciro DESC

### CASE 3: Kampanya PerformansÄ± - ROI Analizi
**Senaryo:** CFO toplantÄ±da sert Ã§Ä±ktÄ±: "GeÃ§en Ã§eyrekte 5 farklÄ± kampanya yaptÄ±k. Hangisi gerÃ§ekten iÅŸe yaradÄ±? Her kampanyada kaÃ§ sipariÅŸ aldÄ±k, toplam ne kadar gelir yarattÄ±k ve ortalama sipariÅŸ tutarÄ± neydi? Bir dahaki sefer sadece karlÄ± kampanyalara para harcayacaÄŸÄ±z."

**Analiz Hedefi:** Her kampanya iÃ§in sipariÅŸ sayÄ±sÄ±, toplam ciro, ortalama sepet tutarÄ± ve dÃ¶nÃ¼ÅŸÃ¼m oranÄ± hesaplayarak kampanya ROI karÅŸÄ±laÅŸtÄ±rmasÄ± yapmak.

In [ ]:
%%sql

SELECT 
    c.campaign_name,
    c.discount_rate,
    COUNT(o.order_id) as kullanilan_siparis,
    ROUND(SUM(o.total_amount), 2) as kampanya_cirosi,
    ROUND(AVG(o.total_amount), 2) as ortalama_sepet
FROM campaigns c
LEFT JOIN orders o ON c.campaign_id = o.campaign_id
WHERE o.order_status = 'teslim_edildi'
GROUP BY c.campaign_id, c.campaign_name, c.discount_rate
ORDER BY kampanya_cirosi DESC

### CASE 4: Åehir BazlÄ± SatÄ±ÅŸlar - Lojistik YatÄ±rÄ±mÄ±
**Senaryo:** Operasyon mÃ¼dÃ¼rÃ¼ WhatsApp'tan yazdÄ±: "Yeni depo aÃ§mayÄ± dÃ¼ÅŸÃ¼nÃ¼yoruz. Hangi ÅŸehirlerde daha fazla mÃ¼ÅŸterimiz var? Hangi ÅŸehirlerden en Ã§ok sipariÅŸ alÄ±yoruz? Toplam ciro bazÄ±nda ilk 10 ÅŸehri ve ortalama sepet tutarlarÄ±nÄ± at bana, sunum hazÄ±rlayacaÄŸÄ±m."

**Analiz Hedefi:** Åehir bazlÄ± mÃ¼ÅŸteri sayÄ±sÄ±, toplam sipariÅŸ, ortalama sepet deÄŸeri ve toplam ciro hesaplayarak depo/lojistik merkezi yatÄ±rÄ±m kararÄ± iÃ§in analiz sunmak.

In [ ]:
%%sql

SELECT 
    c.city,
    COUNT(DISTINCT c.customer_id) as musteri_sayisi,
    COUNT(o.order_id) as siparis_sayisi,
    SUM(CASE WHEN o.order_status = 'teslim_edildi' THEN o.total_amount ELSE 0 END) as toplam_ciro,
    ROUND(AVG(CASE WHEN o.order_status = 'teslim_edildi' THEN o.total_amount END), 2) as ortalama_siparis,
    SUM(CASE WHEN c.customer_segment = 'platinum' THEN 1 ELSE 0 END) as platinum_musteri
FROM customers c
LEFT JOIN orders o ON c.customer_id = o.customer_id
GROUP BY c.city
ORDER BY toplam_ciro DESC
LIMIT 10

### CASE 5: Ã‡ok Satan vs Az Satan ÃœrÃ¼nler - Stok Optimizasyonu
**Senaryo:** Tedarik zinciri mÃ¼dÃ¼rÃ¼ acil aradÄ±: "Depomuz doldu, yer aÃ§mamÄ±z lazÄ±m. Hangi Ã¼rÃ¼nler Ã§ok satÄ±yor, hangiler rafta duruyor? En Ã§ok satan 20 Ã¼rÃ¼nÃ¼, her birinden kaÃ§ tane sattÄ±ÄŸÄ±mÄ±zÄ±, toplam ne kadar kazandÄ±rdÄ±ÄŸÄ±nÄ± ve ortalama fiyatÄ±nÄ± Ã§Ä±kar. AyrÄ±ca hangi markalar bizde iyi gidiyor?"

**Analiz Hedefi:** ÃœrÃ¼n bazlÄ± satÄ±ÅŸ miktarÄ±, toplam gelir, ortalama fiyat ve marka performansÄ± hesaplayarak stok yÃ¶netimi ve tedarik kararlarÄ± iÃ§in veri saÄŸlamak.

In [ ]:
%%sql

SELECT 
    p.product_name,
    p.brand,
    p.stock_quantity as mevcut_stok,
    COUNT(oi.item_id) as satilan_adet,
    SUM(oi.quantity) as toplam_satis,
    ROUND(SUM(oi.quantity * oi.unit_price * (1 - oi.discount_rate/100)), 2) as toplam_gelir,
    CASE 
        WHEN p.stock_quantity = 0 THEN 'Stokta Yok - Acil'
        WHEN p.stock_quantity < 50 THEN 'DÃ¼ÅŸÃ¼k Stok'
        WHEN p.stock_quantity < 200 THEN 'Normal'
        ELSE 'YÃ¼ksek Stok'
    END as stok_durumu
FROM products p
LEFT JOIN order_items oi ON p.product_id = oi.product_id
GROUP BY p.product_id, p.product_name, p.brand, p.stock_quantity
ORDER BY toplam_satis DESC
LIMIT 15

### CASE 6: KaybettiÄŸimiz MÃ¼ÅŸteriler - Geri Kazanma KampanyasÄ±
**Senaryo:** CRM mÃ¼dÃ¼rÃ¼ panik halinde: "MÃ¼ÅŸteri kaybediyoruz! Hangi mÃ¼ÅŸteriler uzun sÃ¼redir sipariÅŸ vermiyor? En az 1 kez sipariÅŸ vermiÅŸ ama son 6 ayda hiÃ§ sipariÅŸ vermemiÅŸ mÃ¼ÅŸterileri bul. Her birinin son sipariÅŸ tarihinden bu yana kaÃ§ gÃ¼n geÃ§tiÄŸini, toplam kaÃ§ sipariÅŸ verdiÄŸini ve ne kadar harcama yaptÄ±ÄŸÄ±nÄ± gÃ¶ster. Geri kazanma kampanyasÄ± yapacaÄŸÄ±z."

**Analiz Hedefi:** Ä°naktif mÃ¼ÅŸterileri tespit ederek son sipariÅŸ tarihi, sipariÅŸ sÄ±klÄ±ÄŸÄ± ve toplam harcama bilgilerini Ã§Ä±karmak, risk seviyesine gÃ¶re kategorize etmek.

In [ ]:
%%sql

SELECT 
    c.customer_id,
    c.first_name || ' ' || c.last_name as musteri,
    c.customer_segment,
    COUNT(o.order_id) as siparis_sayisi,
    MAX(o.order_date) as son_siparis_tarihi,
    ROUND(JULIANDAY('now') - JULIANDAY(MAX(o.order_date)), 0) as son_siparisten_gecen_gun,
    SUM(CASE WHEN o.order_status = 'teslim_edildi' THEN o.total_amount ELSE 0 END) as toplam_harcama,
    CASE 
        WHEN JULIANDAY('now') - JULIANDAY(MAX(o.order_date)) > 180 THEN 'YÃ¼ksek Risk'
        WHEN JULIANDAY('now') - JULIANDAY(MAX(o.order_date)) > 90 THEN 'Orta Risk'
        ELSE 'Aktif'
    END as churn_riski
FROM customers c
LEFT JOIN orders o ON c.customer_id = o.customer_id
GROUP BY c.customer_id
HAVING COUNT(o.order_id) > 0
ORDER BY son_siparisten_gecen_gun DESC
LIMIT 20

### CASE 7: Ã–deme YÃ¶ntemleri - Ä°ptal OranÄ± Analizi
**Senaryo:** Finans mÃ¼dÃ¼rÃ¼ endiÅŸeli: "Kredi kartÄ±yla Ã¶deme yapÄ±lan sipariÅŸlerde Ã§ok iptal oluyor gibi. Her Ã¶deme yÃ¶nteminde kaÃ§ sipariÅŸ var, kaÃ§ tanesi iptal edildi, iptal oranÄ± ne? AyrÄ±ca hangi Ã¶deme yÃ¶ntemi daha karlÄ± - ortalama sepet tutarlarÄ±nÄ± da karÅŸÄ±laÅŸtÄ±r. Belki bazÄ± Ã¶deme yÃ¶ntemlerinde indirim yapmalÄ±yÄ±z."

**Analiz Hedefi:** Ã–deme yÃ¶ntemi bazlÄ± toplam sipariÅŸ, iptal edilen sipariÅŸ, iptal oranÄ±, baÅŸarÄ± oranÄ± ve ortalama sepet tutarÄ± hesaplayarak Ã¶deme stratejisi geliÅŸtirmek.

In [ ]:
%%sql

SELECT 
    payment_method,
    COUNT(*) as toplam_siparis,
    SUM(CASE WHEN order_status = 'teslim_edildi' THEN 1 ELSE 0 END) as basarili,
    SUM(CASE WHEN order_status = 'iptal' THEN 1 ELSE 0 END) as iptal,
    ROUND(100.0 * SUM(CASE WHEN order_status = 'teslim_edildi' THEN 1 ELSE 0 END) / COUNT(*), 2) as basari_orani,
    ROUND(SUM(CASE WHEN order_status = 'teslim_edildi' THEN total_amount ELSE 0 END), 2) as toplam_ciro,
    ROUND(AVG(CASE WHEN order_status = 'teslim_edildi' THEN total_amount END), 2) as ortalama_sepet
FROM orders
GROUP BY payment_method
ORDER BY toplam_ciro DESC

### CASE 8: KÃ¶tÃ¼ Yorumlar - ÃœrÃ¼n Kalite Problemi
**Senaryo:** ÃœrÃ¼n mÃ¼dÃ¼rÃ¼ sinirliymiÅŸ: "MÃ¼ÅŸteri ÅŸikayetleri artÄ±yor. Hangi Ã¼rÃ¼nler kÃ¶tÃ¼ yorum alÄ±yor? 3 yÄ±ldÄ±z ve altÄ±nda ortalamaya sahip Ã¼rÃ¼nleri bul. Her Ã¼rÃ¼nÃ¼n ortalama puanÄ±nÄ±, kaÃ§ yorum aldÄ±ÄŸÄ±nÄ±, kaÃ§ tanesi kÃ¶tÃ¼ (1-2 yÄ±ldÄ±z) gÃ¶ster. TedarikÃ§ilerle konuÅŸmam gerekebilir."

**Analiz Hedefi:** ÃœrÃ¼n bazlÄ± ortalama puan, toplam yorum sayÄ±sÄ± ve kÃ¶tÃ¼ yorum oranÄ± hesaplayarak kalite sorunlu Ã¼rÃ¼nleri tespit etmek, iyileÅŸtirme Ã¶nceliklendirmesi yapmak.

In [ ]:
%%sql

SELECT 
    p.product_name,
    p.brand,
    c.category_name,
    COUNT(r.review_id) as yorum_sayisi,
    ROUND(AVG(r.rating), 2) as ortalama_puan,
    SUM(CASE WHEN r.rating = 5 THEN 1 ELSE 0 END) as dort_bes_yildiz,
    SUM(CASE WHEN r.rating <= 2 THEN 1 ELSE 0 END) as kotu_yorum,
    CASE 
        WHEN AVG(r.rating) >= 4.5 THEN 'MÃ¼kemmel'
        WHEN AVG(r.rating) >= 3.5 THEN 'Ä°yi'
        WHEN AVG(r.rating) >= 2.5 THEN 'Orta'
        ELSE 'KÃ¶tÃ¼ - Aksiyon Gerekli'
    END as urun_durumu
FROM products p
JOIN categories c ON p.category_id = c.category_id
JOIN reviews r ON p.product_id = r.product_id
GROUP BY p.product_id, p.product_name, p.brand, c.category_name
HAVING COUNT(r.review_id) >= 5
ORDER BY ortalama_puan ASC, kotu_yorum DESC
LIMIT 15

### CASE 9: AylÄ±k SatÄ±ÅŸ Trendi - BÃ¼yÃ¼me Raporu
**Senaryo:** CEO Ã§eyrek sonu toplantÄ±sÄ±na hazÄ±rlanÄ±yor: "YÃ¶netim kuruluna sunacaÄŸÄ±m. Son 12 ayda her ay kaÃ§ sipariÅŸ aldÄ±k, toplam ciro ne oldu, ortalama sepet tutarÄ± nasÄ±l deÄŸiÅŸti? Aylara gÃ¶re sÄ±rala, grafiÄŸini Ã§izeceÄŸim. BÃ¼yÃ¼yoruz deÄŸil mi?"

**Analiz Hedefi:** AylÄ±k bazda sipariÅŸ sayÄ±sÄ±, toplam ciro, ortalama sepet tutarÄ± ve bir Ã¶nceki aya gÃ¶re bÃ¼yÃ¼me oranlarÄ±nÄ± hesaplayarak ÅŸirketin bÃ¼yÃ¼me trendini ve mevsimsellik etkilerini gÃ¶stermek.

In [ ]:
%%sql

SELECT 
    strftime('%Y-%m', order_date) as ay,
    COUNT(*) as siparis_sayisi,
    COUNT(DISTINCT customer_id) as aktif_musteri,
    SUM(CASE WHEN order_status = 'teslim_edildi' THEN total_amount ELSE 0 END) as toplam_ciro,
    ROUND(AVG(CASE WHEN order_status = 'teslim_edildi' THEN total_amount END), 2) as ortalama_sepet
FROM orders
GROUP BY ay
ORDER BY ay

### CASE 10: VIP MÃ¼ÅŸteriler - Ã–zel Ä°lgi ProgramÄ±
**Senaryo:** Pazarlama direktÃ¶rÃ¼ heyecanlÄ±: "VIP mÃ¼ÅŸteri programÄ± baÅŸlatÄ±yoruz! RFM analizi yap: Her mÃ¼ÅŸterinin son sipariÅŸ tarihi (Recency), kaÃ§ kez sipariÅŸ verdiÄŸi (Frequency) ve toplam ne kadar harcadÄ±ÄŸÄ±nÄ± (Monetary) hesapla. Sonra bunlara gÃ¶re kategorize et: Champions, Loyal Customers, At Risk, Lost Customers gibi. En deÄŸerli 50 mÃ¼ÅŸteriyi Ã¶zel davet edeceÄŸiz."

**Analiz Hedefi:** Her mÃ¼ÅŸteri iÃ§in RFM skorlarÄ± hesaplayarak mÃ¼ÅŸteri davranÄ±ÅŸ segmentleri oluÅŸturmak, VIP mÃ¼ÅŸterileri tespit etmek ve risk altÄ±ndaki deÄŸerli mÃ¼ÅŸterileri belirlemek.

In [ ]:
%%sql

WITH rfm_data AS (
    SELECT 
        c.customer_id,
        c.first_name || ' ' || c.last_name as musteri,
        c.customer_segment,
        JULIANDAY('now') - JULIANDAY(MAX(o.order_date)) as recency_gun,
        COUNT(o.order_id) as frequency,
        SUM(CASE WHEN o.order_status = 'teslim_edildi' THEN o.total_amount ELSE 0 END) as monetary
    FROM customers c
    LEFT JOIN orders o ON c.customer_id = o.customer_id
    GROUP BY c.customer_id
    HAVING COUNT(o.order_id) > 0
)
SELECT 
    musteri,
    customer_segment,
    ROUND(recency_gun, 0) as son_alisverisin_uzeri_gun,
    frequency as siparis_sayisi,
    ROUND(monetary, 2) as toplam_harcama,
    CASE 
        WHEN recency_gun <= 30 AND frequency >= 5 AND monetary >= 10000 THEN 'Champions'
        WHEN recency_gun <= 60 AND frequency >= 3 AND monetary >= 5000 THEN 'Loyal Customers'
        WHEN recency_gun <= 90 AND frequency >= 2 THEN 'Potential Loyalists'
        WHEN recency_gun > 180 AND frequency >= 3 THEN 'At Risk'
        WHEN recency_gun > 180 THEN 'Lost Customers'
        ELSE 'New/Promising'
    END as rfm_segmenti
FROM rfm_data
ORDER BY monetary DESC
LIMIT 20


### Ä°nteraktif SQL Pratik PlatformlarÄ±

**1. W3Schools SQL Tutorial**  
ğŸ”— https://www.w3schools.com/sql/  

**2. HackerRank SQL**  
ğŸ”— https://www.hackerrank.com/domains/sql