## SQL Temelleri

### Veritabanı Nedir?

<img src="assets/veritabani_nedir.png" alt="VeriTabani" width="700"/>


**Veritabanı (Database):** Yapılandırılmış verilerin depolandığı, yönetildiği ve sorgulandığı sistemlerdir.


**Sektörel Kullanım:**
- **E-ticaret**: Ürün kataloğu, müşteri verileri, sipariş yönetimi
- **Finans**: İşlem kayıtları, hesap yönetimi, risk analizi
- **Sağlık**: Hasta kayıtları, tedavi geçmişi, ilaç yönetimi
- **Medya**: İçerik yönetimi, kullanıcı davranışları, öneri sistemleri

### SQL (Structured Query Language)

<img src="assets/sql_nedir.png" alt="sql" width="700"/>

İlişkisel veritabanlarıyla iletişim için kullanılan standart sorgulama dilidir.

**Temel Kavramlar:**

**İlişkisel (Relational):** Veriler tablolar halinde organize edilir ve bu tablolar birbirleriyle ilişkilendirilir.
- Örnek: Müşteriler tablosu → Siparişler tablosu (her sipariş bir müşteriye ait)

**Yapılandırılmış (Structured):** Her tablonun belirli kolonları ve veri tipleri vardır.
- Örnek: `isim` (metin), `yas` (sayı), `kayit_tarihi` (tarih)

**Primary Key (Birincil Anahtar):** Her satırı benzersiz şekilde tanımlayan kolon.
- Örnek: `musteri_id = 12345` (sistemde tek bir müşteriyi işaret eder)

**Foreign Key (Yabancı Anahtar):** Başka bir tablodaki primary key'e referans veren kolon.
- Örnek: Siparişler tablosundaki `musteri_id`, Müşteriler tablosuna bağlanır

### SQL vs NoSQL

<img src="assets/sql_vs_nosql.png" alt="sql" width="700"/>

**SQL Veritabanları (İlişkisel):**
- **Yapı:** Tablolar, satırlar, kolonlar (Excel gibi düşünün)
- **Örnekler:** PostgreSQL, MySQL, Oracle, SQL Server, SQLite
- **Kullanım:** Bankacılık, e-ticaret, ERP sistemleri, veri analitiği

**NoSQL Veritabanları (İlişkisel Olmayan):**
- **Yapı:** Esnek şema, JSON benzeri dökümanlar, key-value çiftleri
- **Örnekler:** MongoDB (döküman), Redis (key-value), Cassandra (column-family), Neo4j (graph)
- **Kullanım:** Sosyal medya, IoT, gerçek zamanlı uygulamalar, büyük veri

### Veritabanı Bağlantısı

**SQLite Nedir?**

SQLite, en basit SQL veritabanı türüdür. Normal veritabanları sunucu gerektirir ama SQLite sadece bir dosyadır (`.db` uzantılı).

**Neden SQLite?**
- **Kolay:** Kurulum yok, tek dosya
- **Taşınabilir:** Dosyayı kopyalayınca veritabanı taşınır
- **Öğrenmeye Uygun:** SQL öğrenmek için mükemmel
- **Gerçek:** Üretim sistemlerinde de kullanılır (mobil uygulamalar, tarayıcılar)

**Diğer SQL Veritabanları:**
- **PostgreSQL, MySQL:** Sunucu kurmak gerekir, daha güçlü ama karmaşık
- **SQL Server, Oracle:** Kurumsal seviye, lisans gerekir

**Jupyter'da SQL Kullanımı:**

Jupyter Notebook'ta SQL kullanmak için özel komutlar:
- `%load_ext sql` → SQL özelliğini aç
- `%sql` → Tek satır SQL komutu
- `%%sql` → Çok satırlı SQL sorgusu (hücrenin tamamı SQL olur)

In [ ]:
%load_ext sql
%sql sqlite:///data/ecommerce.db

# Otomatik limit'i kaldır
%config SqlMagic.displaylimit = None
%config SqlMagic.autolimit = 0

print("Bağlantı kuruldu: data/ecommerce.db")

### Veritabanı: E-Ticaret Sistemi

Bu eğitimde gerçek bir e-ticaret şirketi veritabanı kullanacağız. 7 ana tablo var:

**Tablolar:**
- **`customers`** (müşteriler): Müşteri bilgileri (isim, şehir, segment, iletişim)
- **`categories`** (kategoriler): Ürün kategorileri (hiyerarşik yapı - ana/alt kategori)
- **`products`** (ürünler): Ürün kataloğu (isim, fiyat, marka, kategori)
- **`orders`** (siparişler): Sipariş kayıtları (tarih, tutar, durum, ödeme yöntemi)
- **`order_items`** (sipariş kalemleri): Siparişteki ürünler (miktar, birim fiyat, indirim)
- **`reviews`** (yorumlar): Müşteri yorumları ve puanları
- **`campaigns`** (kampanyalar): İndirim kampanyaları

**Veri Seti:** ~5.000 müşteri, ~9.000 sipariş, 3.5 yıllık veri

<img src="assets/db_diyagram.png" alt="diyagram" width="400"/>

## TEMEL SQL KOMUTLARI


**Önemli Noktalar:**
- Büyük tablolarda `LIMIT` kullanın
- Query test ederken önce küçük veri seti ile çalışın
- SQL'de `--` ile comment eklenebilir

### SELECT - Tüm Verileri Getirme

In [ ]:
%%sql

SELECT * FROM customers
limit 10

### SELECT - Belirli Kolonları Getirme

In [ ]:
%%sql

SELECT first_name, last_name, city 
FROM customers

LIMIT 10

### DISTINCT - Tekrar Eden Kayıtları Kaldırma

**DISTINCT** tekrar eden satırları kaldırır ve sadece benzersiz değerleri gösterir.

**Kullanım Senaryoları:**
- Hangi şehirlerde müşterimiz var?
- Elimizde hangi markalar var?
- Kaç farklı ödeme yöntemi kullanılıyor?

In [ ]:
%%sql

-- Hangi şehirlerde müşterimiz var?
SELECT DISTINCT city 
FROM customers

### ORDER BY - Sıralama

**ORDER BY** sonuçları sıralar.

**Söz Dizimi:**
- `ORDER BY column ASC` : Küçükten büyüğe (A-Z, 0-9) - varsayılan
- `ORDER BY column DESC` : Büyükten küçüğe (Z-A, 9-0)
- Çoklu sıralama: `ORDER BY column1 DESC, column2 ASC`

**İpucu:** ORDER BY her zaman sorgunun en sonunda gelir.

In [ ]:
%%sql

-- En pahalı ürünler
SELECT product_name, brand, price
FROM products
ORDER BY price DESC
LIMIT 10

### WHERE - Filtreleme



**WHERE** kelimesi SQL'de "hangi satırları istiyorum?" sorusuna cevap verir.

**WHERE kullanım alanları:**
- Belirli bir müşteriyi bul
- Belirli tarih aralığındaki siparişleri getir
- Belirli fiyat aralığındaki ürünleri listele
- Belirli şehirdeki kullanıcıları say

In [ ]:
%%sql

SELECT first_name, last_name, city 
FROM customers
WHERE city = 'İstanbul'
LIMIT 10

**Karşılaştırma operatörleri:**
- `=` : Eşittir
- `!=` veya `<>` : Eşit değildir
- `>` : Büyüktür
- `<` : Küçüktür
- `>=` : Büyük eşittir
- `<=` : Küçük eşittir
- `BETWEEN` : Aralık
- `IN` : Liste içinde
- `LIKE` : Metin eşleştirme

In [ ]:
%%sql

SELECT product_name, brand, price 
FROM products
WHERE price > 10000
ORDER BY price DESC
LIMIT 10

In [ ]:
%%sql

SELECT first_name, last_name, email
FROM customers
WHERE first_name LIKE 'A%'
LIMIT 10

**Mantıksal Operatörler:**

```sql
-- AND: Her iki koşul sağlanmalı
WHERE brand = 'Apple' AND price > 5000

-- OR: En az bir koşul sağlanmalı
WHERE brand = 'Apple' OR brand = 'Samsung'

-- Kombinasyon: Parantez kullanımı
WHERE (brand = 'Apple' OR brand = 'Samsung') AND price > 5000
```

- `AND` : Tüm koşullar true
- `OR` : En az bir koşul true
- `NOT` : Koşul negasyonu

In [ ]:
%%sql

SELECT product_name, brand, price 
FROM products
WHERE brand = 'Apple' AND price > 5000

### WHERE - IN Operatörü

**IN** operatörü bir listte içinde arama yapar. Çoklu `OR` yerine kullanılır.

```sql
-- Yerine: WHERE city = 'İstanbul' OR city = 'Ankara' OR city = 'İzmir'
WHERE city IN ('İstanbul', 'Ankara', 'İzmir')
```

**Avantajları:**
- Daha okunabilir kod
- Daha az tekrar
- Performans avantajı (bazı durumlarda)

In [ ]:
%%sql

-- Belirli markaların ürünleri
SELECT product_name, brand, price
FROM products
WHERE brand IN ('Apple', 'Samsung', 'Xiaomi')
ORDER BY brand, price DESC
LIMIT 15

### WHERE - BETWEEN Operatörü

**BETWEEN** bir aralık kontrolü yapar (başlangıç ve bitiş dahil).

```sql
-- Yerine: WHERE price >= 1000 AND price <= 5000
WHERE price BETWEEN 1000 AND 5000
```

**Dikkat:** BETWEEN dahildir (inclusive) - 1000 ve 5000 de sonuca dahildir.

In [ ]:
%%sql

-- Orta segment fiyat aralığındaki ürünler
SELECT product_name, brand, price
FROM products
WHERE price BETWEEN 1000 AND 5000
ORDER BY price
LIMIT 15

### NULL Değerler - IS NULL / IS NOT NULL

**NULL** "bilinmeyen" veya "mevcut değil" anlamına gelir.

**Önemli:** NULL kontrolü için `=` kullanılamaz! `IS NULL` veya `IS NOT NULL` kullanılmalı.

```sql
-- YANLIŞ: WHERE campaign_id = NULL
-- DOĞRU: WHERE campaign_id IS NULL
```

**Gerçek Hayat:**
- Kampanyasız siparişler: `campaign_id IS NULL`
- Ana kategoriler: `parent_category_id IS NULL`

In [ ]:
%%sql

-- Ana kategorileri bul (alt kategorisi olmayan)
SELECT category_id, category_name, parent_category_id
FROM categories
WHERE parent_category_id IS NULL

---
## Agregasyon Fonksiyonları

Çok sayıda satırı tek bir değere indirgeme (aggregation).

**Fonksiyonlar:**
- `COUNT(*)` : Toplam satır sayısı
- `SUM(column)` : Toplam
- `AVG(column)` : Ortalama
- `MIN(column)` / `MAX(column)` : Minimum/Maximum
- `COUNT(DISTINCT column)` : Benzersiz değer sayısı

**Kullanım Senaryoları:**
- KPI hesaplamaları
- Summary statistics
- Reporting ve dashboard'lar


### COUNT - Kayıt Sayısı

In [ ]:
%%sql

SELECT COUNT(*) as toplam_musteri
FROM customers

### SUM ve AVG - Toplam ve Ortalama

In [ ]:
%%sql

SELECT 
    SUM(total_amount) as toplam_ciro,
    AVG(total_amount) as ortalama_sepet,
    MIN(total_amount) as en_dusuk,
    MAX(total_amount) as en_yuksek
FROM orders
WHERE order_status = 'teslim_edildi'

---
## GROUP BY - Gruplama ve Özetleme

Satırları kategorilere ayırma ve her kategori için agregasyon hesaplama.

In [ ]:
%%sql

SELECT city, COUNT(*) as musteri_sayisi
FROM customers
GROUP BY city
ORDER BY musteri_sayisi DESC
LIMIT 10

### GROUP BY - Çoklu Agregasyon

In [ ]:
%%sql

SELECT 
    order_status, 
    COUNT(*) as siparis_sayisi,
    SUM(total_amount) as toplam_tutar,
    AVG(total_amount) as ortalama_tutar
FROM orders
GROUP BY order_status
ORDER BY siparis_sayisi DESC

### HAVING - Gruplar Üzerinde Filtreleme

In [ ]:
%%sql

SELECT city, COUNT(*) as musteri_sayisi
FROM customers
GROUP BY city
HAVING COUNT(*) > 100
ORDER BY musteri_sayisi DESC

### CASE WHEN - Koşullu Mantık

In [ ]:
%%sql

SELECT 
    product_name,
    price,
    CASE 
        WHEN price < 100 THEN 'Ucuz'
        WHEN price BETWEEN 100 AND 1000 THEN 'Orta'
        WHEN price BETWEEN 1000 AND 5000 THEN 'Pahalı'
        ELSE 'Çok Pahalı'
    END as fiyat_kategorisi
FROM products
LIMIT 15


## JOIN İŞLEMLERİ

<img src="assets/left_inner_join.png" alt="join" width="700"/>


İlişkisel veritabanlarında tabloları birleştirme mekanizması.


**JOIN Türleri:**
- **INNER JOIN**: Her iki tabloda eşleşen kayıtlar
- **LEFT JOIN**: Sol tablo + eşleşenler (outer rows NULL)
- **RIGHT JOIN**: Sağ tablo + eşleşenler
- **FULL OUTER JOIN**: Her iki tablonun tüm kayıtları

**Bu Eğitimde:** INNER ve LEFT JOIN kullanımı üzerinde durulacaktır.

### INNER JOIN - İki Tabloyu Birleştirme

In [ ]:
%%sql

SELECT 
    p.product_name,
    p.brand,
    p.price,
    c.category_name
FROM products p
INNER JOIN categories c ON p.category_id = c.category_id
LIMIT 10

### JOIN - Müşteri Siparişleri

In [ ]:
%%sql

select c.first_name, c.last_name, o.total_amount, o.order_date
from customers c
INNER JOIN orders o ON c.customer_id = o.customer_id
where c.first_name = 'Okyalaz' and	c.last_name = 'Bilgin'



limit 10

In [ ]:
%%sql

SELECT 
    c.first_name,
    c.last_name,
    c.city,
    o.order_id,
    o.order_date,
    o.total_amount
FROM customers c
INNER JOIN orders o ON c.customer_id = o.customer_id
LIMIT 10

**INNER JOIN vs LEFT JOIN:**

- **INNER JOIN**: Sadece her iki tabloda da eşleşen kayıtlar
- **LEFT JOIN**: Sol tablodaki TÜM kayıtlar + eşleşenler (eşleşmeyen sağ taraf NULL)

**Kullanım Senaryoları:**
- Hiç sipariş vermemiş müşterileri bul
- Satılmamış ürünleri listele
- Yorum almamış ürünleri göster

### LEFT JOIN - Eşleşmeyen Kayıtları da Getirme

In [ ]:
%%sql

-- Hiç sipariş vermemiş müşterileri bul
SELECT 
    c.customer_id,
    c.first_name,
    c.last_name,
    c.city,
    c.registration_date,
    COUNT(o.order_id) as siparis_sayisi
FROM customers c
LEFT JOIN orders o ON c.customer_id = o.customer_id
GROUP BY c.customer_id
HAVING COUNT(o.order_id) = 0
LIMIT 10

### JOIN - Üç Tablo Birleştirme

In [ ]:
%%sql

SELECT 
    c.first_name || ' ' || c.last_name as musteri,
    o.order_date,
    p.product_name,
    oi.quantity,
    oi.unit_price
FROM customers c
JOIN orders o ON c.customer_id = o.customer_id
JOIN order_items oi ON o.order_id = oi.order_id
JOIN products p ON oi.product_id = p.product_id
LIMIT 10

## FONKSİYONLAR

### Tarih Fonksiyonları

**SQLite Tarih Fonksiyonları:**

- `DATE('now')` : Bugünün tarihi
- `DATETIME('now')` : Şu anki tarih ve saat
- `strftime(format, date)` : Tarih formatlama
  - `'%Y'` : Yıl (2024)
  - `'%m'` : Ay (01-12)
  - `'%d'` : Gün (01-31)
  - `'%Y-%m'` : Yıl-Ay (2024-03)
- `JULIANDAY(date)` : Tarih farkı hesaplama için

**Gerçek Kullanım:** Aylık raporlar, müşteri yaşı, kayıt süresi

In [ ]:
%%sql

SELECT 
    customer_id,
    first_name,
    registration_date,
    strftime('%Y', registration_date) as kayit_yili,
    strftime('%m', registration_date) as kayit_ayi,
    ROUND(JULIANDAY('now') - JULIANDAY(registration_date), 0) as uyelik_gun_sayisi,
    ROUND((JULIANDAY('now') - JULIANDAY(registration_date)) / 365.0, 1) as uyelik_yil
FROM customers
ORDER BY registration_date
LIMIT 10

### String Fonksiyonları

**Temel String Fonksiyonları:**

- `UPPER(text)` : Büyük harfe çevir
- `LOWER(text)` : Küçük harfe çevir
- `LENGTH(text)` : Karakter sayısı
- `SUBSTR(text, start, length)` : Alt string al
- `||` : String birleştirme (concatenation)
- `TRIM(text)` : Baş ve sondaki boşlukları kaldır
- `REPLACE(text, old, new)` : Değiştir

In [ ]:
%%sql

SELECT 
    first_name,
    last_name,
    first_name || ' ' || last_name as tam_isim,
    UPPER(email) as email_buyuk,
    LENGTH(first_name) as isim_uzunlugu,
    SUBSTR(email, 1, 3) as email_kisaltma
FROM customers
LIMIT 10

### Sayısal Fonksiyonlar

**Temel Sayısal Fonksiyonlar:**

- `ROUND(number, decimals)` : Yuvarlama
- `ABS(number)` : Mutlak değer
- `CAST(value AS type)` : Tip dönüşümü
- Aritmetik: `+`, `-`, `*`, `/`, `%` (mod)

**İpucu:** SQLite'ta `CEIL` ve `FLOOR` yok, `ROUND` kullanın.

In [ ]:
%%sql

SELECT 
    product_name,
    price,
    ROUND(price, 0) as yuvarlanmis_fiyat,
    ROUND(price * 1.20, 2) as kdv_dahil_fiyat,
    CAST(price AS INTEGER) as tam_sayi_fiyat
FROM products
WHERE price > 1000
LIMIT 10


## ALT SORGULAR (SUBQUERIES)

### Alt Sorgu - WHERE İçinde

In [ ]:
%%sql

SELECT product_name, price
FROM products
WHERE price > (SELECT AVG(price) FROM products)
ORDER BY price DESC
LIMIT 10

## GERÇEK İŞ SENARYOLARI

### CASE 1: En Karlı Kategoriler - Yatırım Kararı
**Senaryo:** Genel müdür sizi ofisine çağırdı: "2026 bütçesini planlıyoruz. Hangi ürün kategorilerine daha fazla yatırım yapmalıyız? Her kategorinin satış performansını, kaç ürün sattığımızı ve ne kadar gelir getirdiğini görmek istiyorum. Haftaya yönetim kurulu toplantısında sunacağım."

**Analiz Hedefi:** Her kategori için ürün sayısı, toplam sipariş sayısı, toplam gelir ve ortalama satış tutarı hesaplayarak yatırım önceliklendirmesi için rapor hazırlamak.

In [ ]:
%%sql

SELECT 
    c.category_name,
    COUNT(DISTINCT p.product_id) as urun_sayisi,
    COUNT(DISTINCT oi.order_id) as siparis_sayisi,
    SUM(oi.quantity * oi.unit_price * (1 - oi.discount_rate/100)) as toplam_gelir,
    ROUND(AVG(oi.quantity * oi.unit_price * (1 - oi.discount_rate/100)), 2) as ortalama_satis
FROM categories c
JOIN products p ON c.category_id = p.category_id
JOIN order_items oi ON p.product_id = oi.product_id
WHERE c.parent_category_id IS NOT NULL
GROUP BY c.category_id, c.category_name
ORDER BY toplam_gelir DESC
LIMIT 10

### CASE 2: Müşteri Segmentleri - Pazarlama Kampanyası
**Senaryo:** Pazarlama müdürü size mail attı: "Yeni yıl kampanyası planlıyoruz. Her müşteri segmentimiz için (Platinum, Gold, Silver, Bronze) ayrı kampanya tasarlayacağız. Bana her segmentin kaç müşteriden oluştuğunu, ortalama ne kadar harcama yaptıklarını ve toplam cirodaki paylarını gösterir misin? Bütçeyi buna göre ayarlayacağım."

**Analiz Hedefi:** Her segment için müşteri sayısı, toplam sipariş, ortalama sepet tutarı ve müşteri başına ciro hesaplayarak kampanya bütçe dağılımı için veri sağlamak.

In [ ]:
%%sql

SELECT 
    c.customer_segment,
    COUNT(DISTINCT c.customer_id) as musteri_sayisi,
    COUNT(o.order_id) as toplam_siparis,
    ROUND(AVG(o.total_amount), 2) as ortalama_sepet,
    SUM(CASE WHEN o.order_status = 'teslim_edildi' THEN o.total_amount ELSE 0 END) as toplam_ciro,
    ROUND(SUM(CASE WHEN o.order_status = 'teslim_edildi' THEN o.total_amount ELSE 0 END) / 
          COUNT(DISTINCT c.customer_id), 2) as musteri_basina_ciro
FROM customers c
LEFT JOIN orders o ON c.customer_id = o.customer_id
GROUP BY c.customer_segment
ORDER BY toplam_ciro DESC

### CASE 3: Kampanya Performansı - ROI Analizi
**Senaryo:** CFO toplantıda sert çıktı: "Geçen çeyrekte 5 farklı kampanya yaptık. Hangisi gerçekten işe yaradı? Her kampanyada kaç sipariş aldık, toplam ne kadar gelir yarattık ve ortalama sipariş tutarı neydi? Bir dahaki sefer sadece karlı kampanyalara para harcayacağız."

**Analiz Hedefi:** Her kampanya için sipariş sayısı, toplam ciro, ortalama sepet tutarı ve dönüşüm oranı hesaplayarak kampanya ROI karşılaştırması yapmak.

In [ ]:
%%sql

SELECT 
    c.campaign_name,
    c.discount_rate,
    COUNT(o.order_id) as kullanilan_siparis,
    ROUND(SUM(o.total_amount), 2) as kampanya_cirosi,
    ROUND(AVG(o.total_amount), 2) as ortalama_sepet
FROM campaigns c
LEFT JOIN orders o ON c.campaign_id = o.campaign_id
WHERE o.order_status = 'teslim_edildi'
GROUP BY c.campaign_id, c.campaign_name, c.discount_rate
ORDER BY kampanya_cirosi DESC

### CASE 4: Şehir Bazlı Satışlar - Lojistik Yatırımı
**Senaryo:** Operasyon müdürü WhatsApp'tan yazdı: "Yeni depo açmayı düşünüyoruz. Hangi şehirlerde daha fazla müşterimiz var? Hangi şehirlerden en çok sipariş alıyoruz? Toplam ciro bazında ilk 10 şehri ve ortalama sepet tutarlarını at bana, sunum hazırlayacağım."

**Analiz Hedefi:** Şehir bazlı müşteri sayısı, toplam sipariş, ortalama sepet değeri ve toplam ciro hesaplayarak depo/lojistik merkezi yatırım kararı için analiz sunmak.

In [ ]:
%%sql

SELECT 
    c.city,
    COUNT(DISTINCT c.customer_id) as musteri_sayisi,
    COUNT(o.order_id) as siparis_sayisi,
    SUM(CASE WHEN o.order_status = 'teslim_edildi' THEN o.total_amount ELSE 0 END) as toplam_ciro,
    ROUND(AVG(CASE WHEN o.order_status = 'teslim_edildi' THEN o.total_amount END), 2) as ortalama_siparis,
    SUM(CASE WHEN c.customer_segment = 'platinum' THEN 1 ELSE 0 END) as platinum_musteri
FROM customers c
LEFT JOIN orders o ON c.customer_id = o.customer_id
GROUP BY c.city
ORDER BY toplam_ciro DESC
LIMIT 10

### CASE 5: Çok Satan vs Az Satan Ürünler - Stok Optimizasyonu
**Senaryo:** Tedarik zinciri müdürü acil aradı: "Depomuz doldu, yer açmamız lazım. Hangi ürünler çok satıyor, hangiler rafta duruyor? En çok satan 20 ürünü, her birinden kaç tane sattığımızı, toplam ne kadar kazandırdığını ve ortalama fiyatını çıkar. Ayrıca hangi markalar bizde iyi gidiyor?"

**Analiz Hedefi:** Ürün bazlı satış miktarı, toplam gelir, ortalama fiyat ve marka performansı hesaplayarak stok yönetimi ve tedarik kararları için veri sağlamak.

In [ ]:
%%sql

SELECT 
    p.product_name,
    p.brand,
    p.stock_quantity as mevcut_stok,
    COUNT(oi.item_id) as satilan_adet,
    SUM(oi.quantity) as toplam_satis,
    ROUND(SUM(oi.quantity * oi.unit_price * (1 - oi.discount_rate/100)), 2) as toplam_gelir,
    CASE 
        WHEN p.stock_quantity = 0 THEN 'Stokta Yok - Acil'
        WHEN p.stock_quantity < 50 THEN 'Düşük Stok'
        WHEN p.stock_quantity < 200 THEN 'Normal'
        ELSE 'Yüksek Stok'
    END as stok_durumu
FROM products p
LEFT JOIN order_items oi ON p.product_id = oi.product_id
GROUP BY p.product_id, p.product_name, p.brand, p.stock_quantity
ORDER BY toplam_satis DESC
LIMIT 15

### CASE 6: Kaybettiğimiz Müşteriler - Geri Kazanma Kampanyası
**Senaryo:** CRM müdürü panik halinde: "Müşteri kaybediyoruz! Hangi müşteriler uzun süredir sipariş vermiyor? En az 1 kez sipariş vermiş ama son 6 ayda hiç sipariş vermemiş müşterileri bul. Her birinin son sipariş tarihinden bu yana kaç gün geçtiğini, toplam kaç sipariş verdiğini ve ne kadar harcama yaptığını göster. Geri kazanma kampanyası yapacağız."

**Analiz Hedefi:** İnaktif müşterileri tespit ederek son sipariş tarihi, sipariş sıklığı ve toplam harcama bilgilerini çıkarmak, risk seviyesine göre kategorize etmek.

In [ ]:
%%sql

SELECT 
    c.customer_id,
    c.first_name || ' ' || c.last_name as musteri,
    c.customer_segment,
    COUNT(o.order_id) as siparis_sayisi,
    MAX(o.order_date) as son_siparis_tarihi,
    ROUND(JULIANDAY('now') - JULIANDAY(MAX(o.order_date)), 0) as son_siparisten_gecen_gun,
    SUM(CASE WHEN o.order_status = 'teslim_edildi' THEN o.total_amount ELSE 0 END) as toplam_harcama,
    CASE 
        WHEN JULIANDAY('now') - JULIANDAY(MAX(o.order_date)) > 180 THEN 'Yüksek Risk'
        WHEN JULIANDAY('now') - JULIANDAY(MAX(o.order_date)) > 90 THEN 'Orta Risk'
        ELSE 'Aktif'
    END as churn_riski
FROM customers c
LEFT JOIN orders o ON c.customer_id = o.customer_id
GROUP BY c.customer_id
HAVING COUNT(o.order_id) > 0
ORDER BY son_siparisten_gecen_gun DESC
LIMIT 20

### CASE 7: Ödeme Yöntemleri - İptal Oranı Analizi
**Senaryo:** Finans müdürü endişeli: "Kredi kartıyla ödeme yapılan siparişlerde çok iptal oluyor gibi. Her ödeme yönteminde kaç sipariş var, kaç tanesi iptal edildi, iptal oranı ne? Ayrıca hangi ödeme yöntemi daha karlı - ortalama sepet tutarlarını da karşılaştır. Belki bazı ödeme yöntemlerinde indirim yapmalıyız."

**Analiz Hedefi:** Ödeme yöntemi bazlı toplam sipariş, iptal edilen sipariş, iptal oranı, başarı oranı ve ortalama sepet tutarı hesaplayarak ödeme stratejisi geliştirmek.

In [ ]:
%%sql

SELECT 
    payment_method,
    COUNT(*) as toplam_siparis,
    SUM(CASE WHEN order_status = 'teslim_edildi' THEN 1 ELSE 0 END) as basarili,
    SUM(CASE WHEN order_status = 'iptal' THEN 1 ELSE 0 END) as iptal,
    ROUND(100.0 * SUM(CASE WHEN order_status = 'teslim_edildi' THEN 1 ELSE 0 END) / COUNT(*), 2) as basari_orani,
    ROUND(SUM(CASE WHEN order_status = 'teslim_edildi' THEN total_amount ELSE 0 END), 2) as toplam_ciro,
    ROUND(AVG(CASE WHEN order_status = 'teslim_edildi' THEN total_amount END), 2) as ortalama_sepet
FROM orders
GROUP BY payment_method
ORDER BY toplam_ciro DESC

### CASE 8: Kötü Yorumlar - Ürün Kalite Problemi
**Senaryo:** Ürün müdürü sinirliymiş: "Müşteri şikayetleri artıyor. Hangi ürünler kötü yorum alıyor? 3 yıldız ve altında ortalamaya sahip ürünleri bul. Her ürünün ortalama puanını, kaç yorum aldığını, kaç tanesi kötü (1-2 yıldız) göster. Tedarikçilerle konuşmam gerekebilir."

**Analiz Hedefi:** Ürün bazlı ortalama puan, toplam yorum sayısı ve kötü yorum oranı hesaplayarak kalite sorunlu ürünleri tespit etmek, iyileştirme önceliklendirmesi yapmak.

In [ ]:
%%sql

SELECT 
    p.product_name,
    p.brand,
    c.category_name,
    COUNT(r.review_id) as yorum_sayisi,
    ROUND(AVG(r.rating), 2) as ortalama_puan,
    SUM(CASE WHEN r.rating = 5 THEN 1 ELSE 0 END) as dort_bes_yildiz,
    SUM(CASE WHEN r.rating <= 2 THEN 1 ELSE 0 END) as kotu_yorum,
    CASE 
        WHEN AVG(r.rating) >= 4.5 THEN 'Mükemmel'
        WHEN AVG(r.rating) >= 3.5 THEN 'İyi'
        WHEN AVG(r.rating) >= 2.5 THEN 'Orta'
        ELSE 'Kötü - Aksiyon Gerekli'
    END as urun_durumu
FROM products p
JOIN categories c ON p.category_id = c.category_id
JOIN reviews r ON p.product_id = r.product_id
GROUP BY p.product_id, p.product_name, p.brand, c.category_name
HAVING COUNT(r.review_id) >= 5
ORDER BY ortalama_puan ASC, kotu_yorum DESC
LIMIT 15

### CASE 9: Aylık Satış Trendi - Büyüme Raporu
**Senaryo:** CEO çeyrek sonu toplantısına hazırlanıyor: "Yönetim kuruluna sunacağım. Son 12 ayda her ay kaç sipariş aldık, toplam ciro ne oldu, ortalama sepet tutarı nasıl değişti? Aylara göre sırala, grafiğini çizeceğim. Büyüyoruz değil mi?"

**Analiz Hedefi:** Aylık bazda sipariş sayısı, toplam ciro, ortalama sepet tutarı ve bir önceki aya göre büyüme oranlarını hesaplayarak şirketin büyüme trendini ve mevsimsellik etkilerini göstermek.

In [ ]:
%%sql

SELECT 
    strftime('%Y-%m', order_date) as ay,
    COUNT(*) as siparis_sayisi,
    COUNT(DISTINCT customer_id) as aktif_musteri,
    SUM(CASE WHEN order_status = 'teslim_edildi' THEN total_amount ELSE 0 END) as toplam_ciro,
    ROUND(AVG(CASE WHEN order_status = 'teslim_edildi' THEN total_amount END), 2) as ortalama_sepet
FROM orders
GROUP BY ay
ORDER BY ay

### CASE 10: VIP Müşteriler - Özel İlgi Programı
**Senaryo:** Pazarlama direktörü heyecanlı: "VIP müşteri programı başlatıyoruz! RFM analizi yap: Her müşterinin son sipariş tarihi (Recency), kaç kez sipariş verdiği (Frequency) ve toplam ne kadar harcadığını (Monetary) hesapla. Sonra bunlara göre kategorize et: Champions, Loyal Customers, At Risk, Lost Customers gibi. En değerli 50 müşteriyi özel davet edeceğiz."

**Analiz Hedefi:** Her müşteri için RFM skorları hesaplayarak müşteri davranış segmentleri oluşturmak, VIP müşterileri tespit etmek ve risk altındaki değerli müşterileri belirlemek.

In [ ]:
%%sql

WITH rfm_data AS (
    SELECT 
        c.customer_id,
        c.first_name || ' ' || c.last_name as musteri,
        c.customer_segment,
        JULIANDAY('now') - JULIANDAY(MAX(o.order_date)) as recency_gun,
        COUNT(o.order_id) as frequency,
        SUM(CASE WHEN o.order_status = 'teslim_edildi' THEN o.total_amount ELSE 0 END) as monetary
    FROM customers c
    LEFT JOIN orders o ON c.customer_id = o.customer_id
    GROUP BY c.customer_id
    HAVING COUNT(o.order_id) > 0
)
SELECT 
    musteri,
    customer_segment,
    ROUND(recency_gun, 0) as son_alisverisin_uzeri_gun,
    frequency as siparis_sayisi,
    ROUND(monetary, 2) as toplam_harcama,
    CASE 
        WHEN recency_gun <= 30 AND frequency >= 5 AND monetary >= 10000 THEN 'Champions'
        WHEN recency_gun <= 60 AND frequency >= 3 AND monetary >= 5000 THEN 'Loyal Customers'
        WHEN recency_gun <= 90 AND frequency >= 2 THEN 'Potential Loyalists'
        WHEN recency_gun > 180 AND frequency >= 3 THEN 'At Risk'
        WHEN recency_gun > 180 THEN 'Lost Customers'
        ELSE 'New/Promising'
    END as rfm_segmenti
FROM rfm_data
ORDER BY monetary DESC
LIMIT 20


### İnteraktif SQL Pratik Platformları

**1. W3Schools SQL Tutorial**  
🔗 https://www.w3schools.com/sql/  

**2. HackerRank SQL**  
🔗 https://www.hackerrank.com/domains/sql